.person_info {
    text-align: center;
    margin-top: 40px;
}

.person_info img {
    margin-bottom: 20px;
}

.person_info h3 {
    font-size: 24px;
    margin: 0;
    color: #18162D;
}

.person_info p {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
}