.recommendations {
	text-align: center;
	background-color: #383267;
	/* margin-top: 30px; */
	display: flex;
	justify-content: center;
}
.recommendations_container {
	width: 100%;
	padding: 20px 0px;
}

.recommendation_cards {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 40px;
}

.recommendations h3 {
	color: white;
	text-align: left;
}
